
@{
    ViewBag.Title = "AccessDenied";
}

<!-- A custom error screen that gives the user the option to go back to the home page. -->
<div class="error-container">
    <h1 class="text-danger">Access denied</h1>
    <h2 class="text-danger">Sorry you do not have authorization to access this part of the website!</h2>
    @Html.ActionLink("Fine! take me home...", "Index", "Home")
</div>