@model CodeCur.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="list-container">
    <div class="list-head">
        <h1>My projects</h1>
        @Html.ActionLink("New project", "CreateProject", "Home", new { @class = "custom-new-button" })
    </div>
    <div class="list-content">
<<<<<<< HEAD

=======
>>>>>>> origin/master
        @foreach (var project in Model.Projects)
        {
            <a class="" href="@Url.Action("Project", "Home", new { id = project.ID })">
                @project.Name
            </a>
        }
    </div>
</div>