@using Microsoft.AspNet.Identity

@model CodeCur.Models.IndexViewModel
@{
    ViewBag.Title = "Settings";
}


<div class="new-input-container user-settings-container">
    <h2>@User.Identity.Name</h2>
    @Html.ActionLink("Change password", "ChangePassword")
</div>