@using Microsoft.AspNet.Identity;

@model CodeCur.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<div class="new-input-container">
    <h2>@User.Identity.Name</h2>
    @if (Model.HasPassword)
            {
        @Html.ActionLink("Change your password", "ChangePassword")
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
    }
</div>