@model CodeCur.Models.ViewModels.EditorViewModel
@{
    ViewBag.Title = "Editor";
}

<script src="~/Scripts/ace-builds-1.2.6/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id="editor">
    
</div>

<script>
    $(function () {
        var editor = ace.edit("editor");
        var type = "GET TYPE";
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
    });
</script>
