.custom-container {
    
}

.account-body {
    background: #222;
    height: 100vh;
    overflow: auto;
    padding-bottom: 70px;
    width: 100%;
}

.account-container {
    margin: auto;
    max-width: 560px;
    padding: 12vh 20px 0 20px; 
    width: 100%;
}

.account-container img {
    margin-left: calc(50% - 110px);
    padding-bottom: 15px;
    width: 220px;
}

.about-text {
    color: #fff;
    padding-top: 15px;
}

.account-login-box {
    background: #fff;
    border-radius: 2px;
    padding: 10px;
}

.account-login-box h2 {
    font-weight: 200;
    margin: 15px 0 20px 0;
    text-align: center;
}

.account-form-group {
    padding: 5px 0;
}

.account-form-group span {
    margin-left: 2.5%;
}

.text-danger span {
    margin-left: 5%;
}

.text-danger li {
    margin-right: 5%;
}

.account-form-group input[type=text], .account-form-group input[type=password] {
    background: #eee;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 18px;
    margin-left: 5%;
    max-width: 100%;
    padding: 8px 10px;
    width: 90%;
    transition: border 0.5s;
    -webkit-transition: border 0.3s;
}

.account-form-group input:focus {
    outline: none;
}

.account-form-group input[type=text]:focus, .account-form-group input[type=password]:focus {
    border: 1px solid #6cc3d0;
}

.account-form-group label {
    margin-left: 5%;
    font-weight: 500;
    margin-bottom: 1px;
}

.account-form-group .checkbox {
    margin-left: 5%;
}

.account-form-group .checkbox label {
    font-size: 15px;
    margin-left: 3px;
}

.account-button {
    background: #6cc3d0;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    margin: 10px 5% 5px 5%;
    max-width: 100%;
    padding: 7px 0;
    width: 90%;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.account-button:hover {
    background: #5cb6c3;
}

.account-login-box p {
    margin: 5px 5% 15px 5%;
}

.navbar-logo {
    background: url(../Images/navbarlogo.svg);
    background-size: cover;
    display: block;
    height: 30px;
    margin: 12px 10px 0 10px;
    text-indent: -9999px;
    width: 140px;
}

.nav a {
    font-size: 16px;
}

#navUserName {
    color: #6cc3d0;
}

#navUserName:hover {
    color: #7bdeed;
}

.list-container {
    margin: auto;
    max-width: 790px;
    width: 100%;
}

.list-head h1 {
    font-size: 38px;
    margin: 25px 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.project-list-header {
    font-weight: 300;
}

.custom-new-button {
    background: #6cc3d0;
    border: none;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 140px;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.custom-new-button:hover {
    background: #5cb6c3;
    color: #fff;
    text-decoration: none;
}

.custom-new-button:focus {
    color: #fff;
    text-decoration: none;
}

.new-input-container {
    margin: auto;
    max-width: 420px;
    padding-top: 8vh;
    width: 100%;
}

.new-input-form h2 {
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.new-input-form-group input[type=text], .new-input-form-group input[type=password] {
    background: #eee;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 7px;
    max-width: 100%;
    padding: 8px 10px;
    width: 100%;
    transition: border 0.5s;
    -webkit-transition: border 0.3s;
}

.new-input-form-group input:focus {
    outline: none;
}

.new-input-form-group input[type=text]:focus, .new-input-form-group input[type=password]:focus {
    border: 1px solid #6cc3d0;
}

.new-input-form-group label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1px;
}

.new-input-form-group select {
    background: #eee;
    border: 1px solid #ddd;
    font-size: 18px;
    margin: 0;
    max-width: 100%;
    padding: 8px 10px;
    width: 100%;
    transition: border 0.2s;
    -webkit-transition: border 0.2s;
}

.new-input-form-group select:hover {
    border: 1px solid #6cc3d0;
    cursor: pointer;
}

.new-input-form-group select:focus {
    border: 1px solid #6cc3d0;
    outline: none;
}

.new-input-form-group option:hover {
    background: #ccc;
    cursor: pointer;
}

.new-input-button {
    background: #6cc3d0;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    margin: 20px 0 5px 1%;
    padding: 9px 0;
    width: 48%;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.new-input-button:hover {
    background: #5cb6c3;
}

.new-input-button:focus {
    color: #fff;
    text-decoration: none;
}

.new-input-cancel-button {
    background: #e64f4f;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 20px 2% 5px 0;
    padding: 9px 0;
    text-align: center;
    width: 48%;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.new-input-cancel-button:hover {
    background: #d54848;
    color: #fff;
    text-decoration: none;
}

.new-input-cancel-button:focus {
    color: #fff;
    text-decoration: none;
}

.list-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 70px;
}

.list-project {
    background: #ededed;
    border: 1px solid #e1e1e1;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    color: #222;
    display: block;
    height: 50px;
    margin-bottom: 5px;
    position: relative;
    width: 94%;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.list-project:hover {
    background: #e1e1e1;
    color: #222;
    text-decoration: none;
}

.list-delete-button {
    background: #e64f4f;
    border: none;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 20px;
    max-height: 50px;
    text-align: center;
    width: 6%;
    transition: background: 0.2s;
    -webkit-transition: background 0.2s;
}

.list-delete-button:hover {
    background: #d54848;
    color: #fff;
    text-decoration: none;
}

.list-delete-button:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.list-content p {
    display: inline;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 14px;
}

.list-content .project-name {
    left: 20px;
}

.list-content .project-owner {
    color: #777;
    left: 40%;
}

.list-content .project-type {
    color: #777;
    right: 18%;
}

.list-content .project-date {
    color: #777;
    font-style: italic;
    right: 20px;
}

.project-header {
    font-weight: 500;
}

.project-header span {
    color: #999;
    font-weight: 300;
}

.new-file-button, .back-file-button, .share-project-button {
    border: none;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 32px;
    margin: 0 5px 0 0;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 53px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.new-file-button {
    background: #6cc3d0;
}

.back-file-button {
    background: #e64f4f;
}

.new-file-button:hover, .back-file-button:hover {
    color: #fff;
    text-decoration: none;
}

.new-file-button:hover {
    background: #5cb6c3;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.back-file-button:hover {
    background: #d54848;
}

.new-file-button:focus, .back-file-button:focus {
    color: #fff;
    text-decoration: none;
}

.share-project-button {
    background: #e6d837;
}

.share-project-button:hover {
    background: #ded134;
}

.share-project-button img {
    height: 20px;
    margin-left: -1px;
    margin-top: -3px;
}

.file-list-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 15px;
}

.file-list-block {
    position: relative;
    width: 20%;
}

.file-list-content button {
    background: #222;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    opacity: 0.5;
    padding: 3px 6.5px 1px 6.5px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.file-list-content button:hover {
    opacity: 1;
}

.file-list-content button:focus {
    outline: none;
}

.file-box {
    box-sizing: border-box;
    color: #111;
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 4px;
    min-width: 20%;
    overflow: hidden;
    text-align: center;
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
}

.file-box:hover {
    background: #f1f1f1;
    color: #111;
    text-decoration: none;
}

.file-box:focus {
    color: #111;
    text-decoration: none;
}

.file-box img {
    width: 90%;
}

.file-box p {
    margin: 6px 0 0 0;
}

.empty-list {
    color: #bbb;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

/* EDITOR */
#editor {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 16px;
}

.editor-container {
    
}

.editor-container menu {
    background: #20211c;
    border-bottom: 1px solid #333;
    height: 60px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2000;
}

.editor-container h1 {
    color: #fff;
    font-size: 30px;
    margin: 0;
    right: 42px;
    position: absolute;
    top: 13px;
}

.editor-container .back-file-button {
    font-size: 22px;
    left: 42px;
    margin-right: 0;
    position: absolute;
    top: 10px;
    width: 39px;
}

.autosave-on {
    color: #777;
    font-size: 22px;
    left: 101px;
    margin: 0;
    padding: 4px 0;
    position: absolute;
    top: 10px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.autosave-on span {
    color: #999;
}


.save-success-box, .save-error-box {
    bottom: 0;
    height: 42px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    z-index: 3000;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.save-success-box {
    background: #63e64f;
}

.save-error-box {
    background: #e64f4f;
}

.save-success-box span, .save-error-box span {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    position: absolute;
    top: 11px;
    text-transform: uppercase;
}

.save-success-box span {
    left: calc(50% - 90px);
}

.save-error-box span {
    left: calc(50% - 168px);
}

.user-settings-container {

}

.user-settings-container h2 {
    font-size: 40px;
    text-align: center;
}

.user-settings-container a {
    background: #6cc3d0;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 18px;
    margin-left: calc(50% - 95px);
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    max-width: 190px;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.user-settings-container a:hover {
    background: #5cb6c3;
    color: #fff;
    text-decoration: none;
}

.user-settings-container a:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.error-container {
    margin: auto;
    max-width: 500px;
    padding: 80px 10px;
    width: 100%;
}

.error-container h1 {
    font-size: 46px;
    margin: 20px 0;
    text-align: center;
}

.error-container h2 {
    font-size: 30px;
    margin: 5px 0;
    text-align: center;
}

.error-container a {
    font-size: 20px;
    margin: 5px 0;
    margin-left: calc(50% - 82px);
}

@media (max-width: 750px) {
    .list-head h1 {
        font-size: 30px;
        margin: 20px 0 10px 0;
    }
    .list-content p {
        font-size: 12px;
        top: 12px;
    }
    .list-content a {
        height: 40px;
    }
    .list-content {
        margin-top: 5px;
        padding: 0 5px;
    }
    .custom-new-button {
        font-size: 14px;
        margin: 0 10%;
        padding: 5px 0;
        width: 80%;
    }
    .file-list-block {
        width: 25%;
    }
    .file-box {
        font-size: 14px;
        padding: 6px 2px;
        min-width: 25%;
    }
    .list-delete-button {
        font-size: 20px;
    }
}

@media (max-width: 580px) {
    .list-content .project-type {
        display: none;
    }
    .list-content .project-owner {
        left: 60%;
    }
    .file-list-block {
        width: 33.333%;
    }
    .file-box {
        font-size: 12px;
        padding: 4px 1px;
        min-width: 33.333%;
    }
    .list-delete-button {
        font-size: 14px;
    }
}

@media (max-width: 430px) {
    .list-content .project-date {
        display: none;
    }
    .list-content .project-owner {
        left: auto;
        right: 10px;
    }
    .list-content .project-name {
        left: 10px;
    }
}