.custom-container {
    
}

.account-body {
    background: #222;
    height: 100vh;
    overflow: auto;
    padding-bottom: 70px;
    width: 100%;
}

.account-container {
    margin: auto;
    max-width: 560px;
    padding: 12vh 20px 0 20px; 
    width: 100%;
}

.account-container img {
    padding-bottom: 15px;
    width: 220px;
}

.about-text {
    color: #fff;
    padding-top: 15px;
}

.account-login-box {
    background: #fff;
    border-radius: 2px;
    padding: 10px;
}

.account-login-box h2 {
    font-weight: 200;
    margin: 15px 0 20px 0;
    text-align: center;
}

.account-form-group {
    padding: 5px 0;
}

.account-form-group span {
    margin-left: 2.5%;
}

.text-danger span {
    margin-left: 5%;
}

.text-danger li {
    margin-right: 5%;
}

.account-form-group input[type=text], .account-form-group input[type=password] {
    background: #eee;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 18px;
    margin-left: 5%;
    max-width: 100%;
    padding: 8px 10px;
    width: 90%;
    transition: border 0.5s;
    -webkit-transition: border 0.3s;
}

.account-form-group input:focus {
    outline: none;
}

.account-form-group input[type=text]:focus, .account-form-group input[type=password]:focus {
    border: 1px solid #6cc3d0;
}

.account-form-group label {
    margin-left: 5%;
    font-weight: 500;
    margin-bottom: 1px;
}

.account-form-group .checkbox {
    margin-left: 5%;
}

.account-form-group .checkbox label {
    font-size: 15px;
    margin-left: 3px;
}

.account-button {
    background: #6cc3d0;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    margin: 10px 5% 5px 5%;
    max-width: 100%;
    padding: 7px 0;
    width: 90%;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.account-button:hover {
    background: #5cb6c3;
}

.account-login-box p {
    margin: 5px 5% 15px 5%;
}

.navbar-logo {
    background: url(../Images/navbarlogo.svg);
    background-size: cover;
    display: block;
    height: 30px;
    margin: 12px 10px 0 10px;
    text-indent: -9999px;
    width: 140px;
}

.nav a {
    font-size: 16px;
}

#navUserName {
    color: #6cc3d0;
}

#navUserName:hover {
    color: #7bdeed;
}

.list-container {
    margin: auto;
    max-width: 790px;
    width: 100%;
}

.list-head {
    
}

.list-head h1 {
    font-weight: 300;
    margin: 30px 0 20px 0;
    padding: 0;
}

.custom-new-button {
    background: #6cc3d0;
    border: none;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 140px;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.custom-new-button:hover {
    background: #5cb6c3;
    color: #fff;
    text-decoration: none;
}

.new-input-container {
    margin: auto;
    max-width: 420px;
    padding-top: 8vh;
    width: 100%;
}

.new-input-form h2 {
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.new-input-form-group input[type=text], .new-input-form-group input[type=password] {
    background: #eee;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 7px;
    max-width: 100%;
    padding: 8px 10px;
    width: 100%;
    transition: border 0.5s;
    -webkit-transition: border 0.3s;
}

.new-input-form-group input:focus {
    outline: none;
}

.new-input-form-group input[type=text]:focus, .new-input-form-group input[type=password]:focus {
    border: 1px solid #6cc3d0;
}

.new-input-form-group label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1px;
}

.new-input-form-group select {
    background: #eee;
    border: 1px solid #ddd;
    font-size: 18px;
    margin: 0;
    max-width: 100%;
    padding: 8px 10px;
    width: 100%;
    transition: border 0.2s;
    -webkit-transition: border 0.2s;
}

.new-input-form-group select:hover {
    border: 1px solid #6cc3d0;
    cursor: pointer;
}

.new-input-form-group select:focus {
    border: 1px solid #6cc3d0;
    outline: none;
}

.new-input-form-group option:hover {
    background: #ccc;
    cursor: pointer;
}

.new-input-button {
    background: #6cc3d0;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    margin: 20px 0 5px 1%;
    padding: 9px 0;
    width: 48%;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.new-input-button:hover {
    background: #5cb6c3;
}

.new-input-cancel-button {
    background: #e64f4f;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 20px 2% 5px 0;
    padding: 9px 0;
    text-align: center;
    width: 48%;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.new-input-cancel-button:hover {
    background: #d54848;
    color: #fff;
    text-decoration: none;
}

.list-content {
    margin-top: 10px;
    margin-bottom: 70px;
}

.list-content a {
    background: #ededed;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    box-sizing: border-box;
    color: #222;
    display: block;
    height: 50px;
    margin-bottom: 5px;
    position: relative;
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
}

.list-content a:hover {
    background: #e1e1e1;
    color: #222;
    text-decoration: none;
}

.list-content p {
    display: inline;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 14px;
}

.list-content .project-name {
    left: 20px;
}

.list-content .project-type {
    color: #777;
    left: 50%;
}

.list-content .project-date {
    color: #777;
    font-style: italic;
    right: 20px;
}