@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="error-container">
    <h1 class="text-danger">Error</h1>
    <h2 class="text-danger">Something went wrong while processing your request! :(</h2>
    @Html.ActionLink("I want to go home!", "Index", "Home")
</div>

